body{
    font-family: Arial, sans-serif;
    color:#323d4f;
}
nav { 
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color:white;
    font-size: 28px;
    line-height: 60px;
    margin-left:380px;
    float:left;
}
.menu{
    float:left;
    margin-left: 600px;
}
.menu li{
    float:left;
    line-height: 60px;
    color:white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 100% 100%/auto 75%  no-repeat, url(../img/fonfon.jpg) center/cover no-repeat;
}
.title_container{
    float:left;
    margin-top:422px;
    margin-left: 404px;
    color:#2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d; 
}
.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #79818d; 
    background: none;
    border-radius: 5px;
    color: #79818d; 
    font-size: 13px;
    padding: 0 16px;
    margin:55px 14px 0 14px;
   
}
.obomne {

    margin-top: 110px;
    text-align: center;
   
}
.photoclass{
    margin-bottom: 30px;
}
.obomne h2{
font-size: 23px;    
padding-bottom: 30px;
    font-weight: bolder;
}
.polosa {
padding-bottom: 60px;
}
.rezume{
    margin-top: 40px;
}
.chto_umey {
     text-align: center;
height: 523px;
margin-top: 100px;
background: url(../img/phon_cu.jpg) no-repeat; 
}

.chto_umey h2 {
font-size: 23px;    
padding-top: 105px;
padding-bottom: 30px;
font-weight: bolder;
}
.chto_umey h3{
font-weight: bolder;
}
.block1 {
    margin-left: 340px;
    height: 165px;
    width: 210px;
    float:left;
    margin-top: 100px;
    
}

.block1 img{
margin-bottom: 30px;
    height: 37px;
    width: 55px;
    margin-top: 13px;
}
.block2 {
    margin-left: 80px;
    height: 165px;
    width: 210px;
    float:left;
    margin-top: 100px;
}

.block2 img{
margin-bottom: 30px;
    height: 47px;
    width: 47px;
}
.block3 {
    margin-left: 80px;
    height: 165px;
    width: 210px;
    float:left;
    margin-top: 100px;
}
.block3 img{
margin-bottom: 30px;
    height: 47px;
    width: 47px;
}
.block4{
    margin-left: 80px;
    height: 165px;
    width: 210px;
     float:left;
    margin-top: 100px;
}
.block4 img{
margin-bottom: 30px;
    height: 47px;
    width: 47px;
}
.keys{
    text-align: center;
}
.keys h2{
    font-size: 23px;    
padding-top: 105px;
padding-bottom: 30px;
font-weight: bolder;
    text-transform:uppercase;
}
.keys2 {
margin-bottom: 30px;
}
.kartinka_k {
    margin-top: 40px;
}
.price{
    text-align: center;
}
.price h2{
font-size: 23px;    
font-weight: bolder;
}
.stats {
    text-transform:uppercase;
    text-align: center;
    background:url(../img/fon2.jpg) no-repeat;
    height: 499px;
    text-align: center;
    font-weight: bolder;
    
}
.stats h2{
padding-top: 100px;
    font-weight: bolder;
    font-size: 23px;   
    padding-bottom: 30px;
     

}
.stats h3{
font-size: 26px;
font-weight: bolder;
padding-top: 30px;
padding-bottom: 30px;
    
    
}

.block_s1{
   float:left; 
    margin-top: 85px;
    margin-left: 380px;

}
.block_s2{
  float:left;  
 margin-top: 85px;
    margin-left: 150px;
}
.block_s3{
 float:left;   
    margin-top: 85px;
    margin-left: 150px;
}
.block_s4{
  float:left;  
  margin-top: 85px;
    margin-left: 150px;
}
.feedback{
 text-align: center;
}
.feedback h2{
    text-transform:uppercase;
    font-weight: bolder;
   font-size: 26px; 
    margin-bottom: 30px;
}
.izmen{
    margin-top: 50px;
    margin-bottom: 90px;
}
.contacts{
    
    text-align: center;
    background:url(../img/fon3.jpg) no-repeat;
    height: 808px;
    text-align: center;
    color: white;
}
.contacts h2{
    font-size: 26px;
    padding-top: 105px;
     font-weight: bolder;
text-transform:uppercase;
    padding-bottom: 30px;
}
.block_c1{
    float: left;
    padding-left: 655px;
}
.block_c1 img{
padding-bottom: 17px;
}
.block_c2{
    float: left;
     padding-left: 105px;
}
.block_c2 img{
padding-bottom: 17px;
}
.block_c3{
    float: left;
 padding-left: 105px;
}
.block_c3 img{
padding-bottom: 17px;
}
.formafb{
margin-top:150px;
}
#IMAGE{
visibility: collapse;
}
.formafb input{
background: rgba(232,235,236,0.7);
    color: #5d5d5e;
}
.knopka2 input{
    width: 120px;
    height: 45px;
    text-align: center;
    border: 2px solid white; 
    background: none;
    border-radius: 5px;
    color: white; 
    font-size: 13px;
    padding: 0 16px;
   
}